/* removing the default padding and margin */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* the body style */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
/* the conatiner style */
.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}
/* styling the header */
h1 {
    margin-bottom: 20px;
}

/* styling the image */
img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* styling the paragraphs using their data-testid */
p[data-testid="slackUserName"], p[data-testid="currentUTCTime"], p[data-testid="currentDayOfTheWeek"], p[data-testid="myTrack"] {
    padding-bottom: 15px;
}
p[data-testid="slackUserName"]::before {
    content: "User Name: ";
}
p[data-testid="myTrack"]::before {
    content: "Slack Track: "
}

/* styling the anchor tag */
a {
    text-decoration: none;
    color: #0073e6;
}